################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BMWControl
/.vs
/BMWControl/obj/Debug
/BMWControl/obj/Release
